@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import './sprites.scss';

* {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

body {
  background: url('../assets/talent-calc-bg.png') center center repeat;
}

main {
  max-width: 900px;
  margin: auto;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}
