$night: #0d0e0e;
$eerie-black: #191b1e;
$charcoal: #364451;
$jet: #3a3a3a;
$dim-gray: #6a6a6a;
$timberwolf: #d0d0d0;
$indigo-dye: #263e55;
$lapis-lazuli: #3c5a75;
$ruddy-blue: #6fa6e0;

@mixin shadow {
  -webkit-box-shadow: 0px 0px 5px 2px $dim-gray;
  -moz-box-shadow: 0px 0px 5px 2px $dim-gray;
  box-shadow: 0px 0px 5px 2px $dim-gray;
}

@mixin active-border-gradient {
  background: $ruddy-blue;
  background: -moz-linear-gradient(
    0deg,
    $ruddy-blue 20%,
    $charcoal 50%,
    $ruddy-blue 50%
  );
  background: -webkit-linear-gradient(
    0deg,
    $ruddy-blue 20%,
    $charcoal 50%,
    $ruddy-blue 50%
  );
  background: linear-gradient(
    0deg,
    $ruddy-blue 20%,
    $charcoal 50%,
    $ruddy-blue 50%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6fa6e0", endColorstr="#6fa6e0", GradientType=1);
}

@mixin inactive-border-gradient {
  background: $dim-gray;
  background: -moz-linear-gradient(
    0deg,
    $dim-gray 20%,
    $jet 50%,
    $dim-gray 50%
  );
  background: -webkit-linear-gradient(
    0deg,
    $dim-gray 20%,
    $jet 50%,
    $dim-gray 50%
  );
  background: linear-gradient(0deg, $dim-gray 20%, $jet 50%, $dim-gray 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6a6a6a", endColorstr="#6a6a6a", GradientType=1);
}
