#chevrons-active {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") 0px 0px;
}

#chevrons-inactive {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") 0px 50px;
}

#silverware-active {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") -50px 0px;
}

#silverware-inactive {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") -50px 50px;
}

#cake-active {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") -100px 0px;
}

#cake-inactive {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") -100px 50px;
}

#crown-active {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") -150px 0px;
}

#crown-inactive {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") -150px 50px;
}

#skull-active {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") 50px 0px;
}

#skull-inactive {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") 50px 50px;
}

#lightning-active {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") 100px 0px;
}

#lightning-inactive {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") 100px 50px;
}

#snorkle-active {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") 150px 0px;
}

#snorkle-inactive {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") 150px 50px;
}

#ship-active {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") -200px 0px;
}

#ship-inactive {
  width: 50px;
  height: 50px;
  background: url("../assets/talent-icons-sprite.png") -200px 50px;
}
