@import "../styles/mediaQueries.scss";
@import "../styles/spacing.scss";
@import "../styles/fontsizes.scss";
@import "../styles/palette.scss";

.container {
  &__talents {
    display: flex;

    @include lap-wide-up {
      flex-direction: column;
    }
  }

  &__points {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $eerie-black;
    background-color: black;
    padding: $spacing-1;

    @include lap-wide-up {
      margin-right: $spacing-2;
    }
  }
}
