@import "../styles/palette.scss";
@import "../styles/spacing.scss";
@import "../styles/mediaQueries.scss";
@import "../styles/fontsizes.scss";

.header {
  display: flex;
  justify-content: center;
  margin: 0 $spacing-1 $spacing-3 $spacing-1;
  background-color: $eerie-black;
  padding: $spacing-half 0;

  @include palm {
    margin: 0 $spacing-1 $spacing-1 $spacing-1;
  }

  &__text {
    @include palm {
      padding: 0 $spacing-half;
      font-size: $font-size-small;
    }
  
    @include lap-up {
      font-size: $font-size-small;
    }
  
    @include lap-wide-up {
      font-size: $font-size-medium;
    }
  }
}
