@import '../styles/spacing.scss';
@import '../styles/mediaQueries.scss';
@import '../styles/palette.scss';

.RuneHolder {
  display: block;
  position: relative;

  @include palm {
    margin: $spacing-2-half 0;
  }

  @include lap-up {
    margin: $spacing-2-half 0;
  }

  @include lap-wide-up {
    margin: 0 $spacing-2-half;
  }

  &:last-child .RuneBridge {
    display: none;
  }
}

.Rune {
  // The Active Rune Style
  &::before {
    display: block;
    position: relative;
    right: 3px;
    bottom: 3px;
    z-index: -1;
    transition: opacity 0.5s linear, box-shadow 0.5s linear;
    outline: 1px solid $night;
    width: 56px;
    height: 56px;
    content: '';
  }

  &-active {
    &::before {
      opacity: 1;
      @include active-border-gradient;
      @include shadow;
    }
  }

  &-inactive {
    &::before {
      opacity: 0;
      @include active-border-gradient;
      @include shadow;
    }
  }

  // The Inactive Rune Style
  &::after {
    display: block;
    position: relative;
    right: 3px;
    bottom: 59px;
    z-index: -2;
    outline: 1px solid $night;
    @include inactive-border-gradient;
    width: 56px;
    height: 56px;
    content: '';
  }
}

.RuneBridge {
  display: block;
  position: absolute;
  z-index: -3;
  transition: background-color 0.5s linear, border-color 0.5s linear;

  @include palm {
    top: 50px;
    left: 16px;
    border-right: 2px solid;
    border-left: 2px solid;
    width: $spacing-1;
    height: $spacing-5;
  }

  @include lap-up {
    top: 50px;
    left: 16px;
    border-right: 2px solid;
    border-left: 2px solid;
    width: $spacing-1;
    height: $spacing-5;
  }

  @include lap-wide-up {
    top: 16px;
    left: 50px;
    border-top: 2px solid;
    border-right: none;
    border-bottom: 2px solid;
    border-left: none;
    width: $spacing-5;
    height: $spacing-1;
  }

  &-active {
    border-color: $dim-gray;
    background-color: $eerie-black;
  }

  &-inactive {
    border-color: $jet;
    background-color: $night;
  }
}
